{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div>
        <p>{{ question.question }}</p>


        <a href="{{ id }}/reponse"><p>{{ question.reponse1 }}</p></a>
        <a href="{{ id }}/reponse"><p>{{ question.reponse2 }}</p></a>
        <a href="{{ id }}/reponse"><p>{{ question.reponse3 }}</p></a>
        <a href="{{ id }}/reponse"><p>{{ question.reponse4 }}</p></a>

    </div>

    {% if app.user %}
        <a href="../../logout">Se déconnecter</a>
    {% endif %}
{% endblock %}
